{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'font/fontello-dbf9097f/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontello-d027f459/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'font/fontello-31d05a21/css/fontello.css' %}">
    {% block title %}<title>Document</title>{% endblock %}
</head>

<body>
    {% block header %}
    <!--++++++++++++++++++++Navbar+++++++++++++++++++++++++++++++-->
    <div class="cont-up" id="rojo">
        <div class="main-navbar">

            <div class="main-navbar__head-one" id="up">
                <div class="div">
                    <a class="btn" style=" color: white; margin-left:0.5rem; font-size:1.5rem"
                        href="{% url 'encargado:encargado_principal' %}">researchsuit</a>
                    <input class="div__input" type="text" placeholder="Busca estudiantes, padres o maestros aqui..">
                    <button class="div__button"><i class="fa icon-search"></i></button>
                </div>
            </div>
            <div class="main-navbar__head-two" id="up">
                <i class="fa fa-bell icon-bell-alt head-two__i-one__one"></i>
                <div class="main-navbar__head-one__two">
                    <a class="btn" style="background-color:#0079d1; color: white;"
                        href="{% url 'encargado:encargado_list' %}">Encargado</a>
                    <a class="btn" style="background-color:#0079d1; color: white;"
                        href="{% url 'task:task_list' %}">Task</a>
                    <a class="btn" style="background-color:#0079d1; color: white;"
                        href="{% url 'task:task_list_tar' %}">Tarjetas Task</a>
                </div>
                <div>
                    <i class="fa fa-user icon-user-circle head-two__i"></i>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block content %}
    <img src="{% static 'images/edoo_logo.png' %}" style="margin-left: 25%;margin-top: 20%; width:40rem">
    {% endblock %}

    {% block footer %}

    {% endblock %}


</body>

</html>